<div>
    <h1>本の情報</h1>

    <table>
        <tr>
            <th>タイトル</th>
            <td><%= @card.title %></td>
        </tr>
        <tr>
            <th>著者</th>
            <td><%= @card.author %></td>
        </tr>
        <tr>
            <th>価格</th>
            <td><%= @card.price %></td>
        </tr>
        <tr>
            <th>出版社</th>
            <td><%= @card.publisher %></td>
        </tr>
        <tr>
            <th>メモ</th>
            <td><%= @card.memo %></td>
        </tr>
    </table>

    <h3>新規投稿</h3>

    <%= form_with model:@post do |f| %>
    <table>
        <tr>
            <th><%= f.label :content,"投稿内容" %></th>
            <th><%= f.text_area :content,class:"post-comtent" %></th>
        </tr>
    </table>
    <%= f.hidden_field :card_id, value: @card.id %>
    <div>
        <ul>
            <li><%= f.submit "投稿を完了" %></li>
        </ul>
    </div>
    <% end %>
    <div>
        <ul>
            <li>
                <%= link_to "一覧ページ",:cards %>
            </li>
        </ul>
    </div>
</div>
